.dob_select {
    width: 25% !important;
}

.afterpay-testmode {
    background-color: #a50000;
    color: white;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    text-shadow: none;
    border-radius: 2px;
}